body {
  padding-top: 75px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.container {
  max-width:1024px;
}
a:hover {
  text-decoration: none !important;
}
a {
  outline: 0;
}

.deleteButton {
  text-align: right;
  top: -34px;
  position: relative;
}

